[MASTER]
init-hook=import sys; sys.path.insert(0, '.')

[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-few-public-methods,
        too-many-arguments,
        too-many-locals,
        too-many-branches,
        too-many-statements,
        too-many-instance-attributes,
        line-too-long

[REPORTS]
output-format=text
reports=no
score=yes
