openapi: 3.1.0
info:
  title: Enrollment Management API
  description: Learner enrollment and course assignment service
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@aivo.com
servers:
- url: https://api.aivo.com/enrollment/v1
  description: Production server
- url: https://staging-api.aivo.com/enrollment/v1
  description: Staging server
paths:
  /enrollments:
    get:
      summary: List enrollments
      operationId: listEnrollments
      tags:
      - Enrollments
      security:
      - bearerAuth: []
      parameters:
      - name: tenantId
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: The tenantId query parameter
      - name: learnerId
        in: query
        schema:
          type: string
          format: uuid
        description: The learnerId query parameter
      - name: courseId
        in: query
        schema:
          type: string
          format: uuid
        description: The courseId query parameter
      - name: status
        in: query
        schema:
          type: string
          enum:
          - enrolled
          - in_progress
          - completed
          - dropped
          - expired
        description: The status query parameter
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: The limit query parameter
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: The offset query parameter
      responses:
        '200':
          description: Enrollments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - total
                - limit
                - offset
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Enrollment'
                  total:
                    type: integer
                    example: 250
                  limit:
                    type: integer
                    example: 20
                  offset:
                    type: integer
                    example: 0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Retrieve all Enrollments
    post:
      summary: Create new enrollment
      operationId: createEnrollment
      tags:
      - Enrollments
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnrollmentRequest'
      responses:
        '201':
          description: Enrollment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Enrollment already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      description: Create a new Enrollment
  /enrollments/{enrollmentId}:
    get:
      summary: Get enrollment by ID
      operationId: getEnrollment
      tags:
      - Enrollments
      security:
      - bearerAuth: []
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The enrollmentId path parameter
      responses:
        '200':
          description: Enrollment retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Enrollment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Retrieve a specific Enrollment
    put:
      summary: Update enrollment
      operationId: updateEnrollment
      tags:
      - Enrollments
      security:
      - bearerAuth: []
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The enrollmentId path parameter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnrollmentRequest'
      responses:
        '200':
          description: Enrollment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Enrollment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Update a Enrollment
    delete:
      summary: Delete enrollment
      operationId: deleteEnrollment
      tags:
      - Enrollments
      security:
      - bearerAuth: []
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The enrollmentId path parameter
      responses:
        '204':
          description: Enrollment deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Enrollment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Delete a Enrollment
  /enrollments/{enrollmentId}/progress:
    get:
      summary: Get enrollment progress
      operationId: getEnrollmentProgress
      tags:
      - Progress
      security:
      - bearerAuth: []
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The enrollmentId path parameter
      responses:
        '200':
          description: Progress retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentProgress'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Enrollment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Retrieve a specific Progre
    put:
      summary: Update enrollment progress
      operationId: updateEnrollmentProgress
      tags:
      - Progress
      security:
      - bearerAuth: []
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The enrollmentId path parameter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProgressRequest'
      responses:
        '200':
          description: Progress updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentProgress'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Enrollment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Update a Progre
  /bulk-enroll:
    post:
      summary: Bulk enroll learners
      operationId: bulkEnroll
      tags:
      - Bulk Operations
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEnrollRequest'
      responses:
        '200':
          description: Bulk enrollment completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEnrollResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Create a new Bulk Enroll
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Enrollment:
      type: object
      required:
      - id
      - tenantId
      - learnerId
      - courseId
      - status
      - enrolledAt
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
          example: a4d15328-17f4-46f9-8fdc-da049ee4c1ba
        tenantId:
          type: string
          format: uuid
          example: 0796f199-2875-4003-b18c-b80fd7c43d48
        learnerId:
          type: string
          format: uuid
          example: f6459e9a-d653-43a7-92f2-dcf4a8cadd6e
        courseId:
          type: string
          format: uuid
          example: 1d50e9af-fe02-467f-891f-aa26db3ea777
        status:
          type: string
          enum:
          - enrolled
          - in_progress
          - completed
          - dropped
          - expired
          example: enrolled
        enrolledAt:
          type: string
          format: date-time
          example: '2025-09-13T00:14:42.974307+00:00'
        startedAt:
          type: string
          format: date-time
          nullable: true
          example: '2025-09-13T00:14:42.974307+00:00'
        completedAt:
          type: string
          format: date-time
          nullable: true
          example: '2025-09-13T00:14:42.974307+00:00'
        expiresAt:
          type: string
          format: date-time
          nullable: true
          example: '2025-09-13T00:14:42.974307+00:00'
        enrolledBy:
          type: string
          format: uuid
          example: d02bff13-131a-4f86-90a1-3ae110d03ab9
        metadata:
          type: object
          additionalProperties: true
          example:
            source: bulk_import
            cohort: Q4_2023
        createdAt:
          type: string
          format: date-time
          example: '2025-09-13T00:14:42.974307+00:00'
        updatedAt:
          type: string
          format: date-time
          example: '2025-09-13T00:14:42.974307+00:00'
    CreateEnrollmentRequest:
      type: object
      required:
      - tenantId
      - learnerId
      - courseId
      properties:
        tenantId:
          type: string
          format: uuid
          example: 3e0a3554-c07e-41d1-9e39-d1d12b7156b8
        learnerId:
          type: string
          format: uuid
          example: 2ad3b280-b341-4c50-8b0b-5e0bf1fec1ec
        courseId:
          type: string
          format: uuid
          example: 9433efb9-9122-4d62-a748-cae772afd630
        expiresAt:
          type: string
          format: date-time
          example: '2025-09-13T00:14:42.975306+00:00'
        metadata:
          type: object
          additionalProperties: true
          example:
            source: manual_enrollment
    UpdateEnrollmentRequest:
      type: object
      properties:
        status:
          type: string
          enum:
          - enrolled
          - in_progress
          - completed
          - dropped
          - expired
          example: completed
        expiresAt:
          type: string
          format: date-time
          example: '2025-09-13T00:14:42.975306+00:00'
        metadata:
          type: object
          additionalProperties: true
    EnrollmentProgress:
      type: object
      required:
      - enrollmentId
      - progressPercentage
      - timeSpentMinutes
      - lastAccessedAt
      properties:
        enrollmentId:
          type: string
          format: uuid
          example: 5136e9f2-6438-430f-923b-cbfac5d01285
        progressPercentage:
          type: number
          minimum: 0
          maximum: 100
          example: 75.5
        timeSpentMinutes:
          type: integer
          minimum: 0
          example: 1250
        lastAccessedAt:
          type: string
          format: date-time
          example: '2025-09-13T00:14:42.975306+00:00'
        completedModules:
          type: array
          items:
            type: string
            format: uuid
          example:
          - 6851dea5-717c-47bb-99d3-e68c41d244d1
          - 1e2b5067-eb66-4672-b937-c0cc092f4b30
        currentModule:
          type: string
          format: uuid
          nullable: true
          example: 61d9d8a9-1b33-4480-b951-92ac969eb794
        assessmentScores:
          type: array
          items:
            type: object
            properties:
              assessmentId:
                type: string
                format: uuid
              score:
                type: number
                minimum: 0
                maximum: 100
              completedAt:
                type: string
                format: date-time
    UpdateProgressRequest:
      type: object
      required:
      - progressPercentage
      - timeSpentMinutes
      properties:
        progressPercentage:
          type: number
          minimum: 0
          maximum: 100
          example: 80.0
        timeSpentMinutes:
          type: integer
          minimum: 0
          example: 1320
        completedModules:
          type: array
          items:
            type: string
            format: uuid
        currentModule:
          type: string
          format: uuid
          nullable: true
    BulkEnrollRequest:
      type: object
      required:
      - tenantId
      - courseId
      - learnerIds
      properties:
        tenantId:
          type: string
          format: uuid
          example: 6bbdcd3b-9440-4f10-b369-2708b7dbc9bb
        courseId:
          type: string
          format: uuid
          example: 860eb5ed-610b-455d-abaf-06e26c9572ec
        learnerIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 1000
          example:
          - ca97b2fd-3850-4f9d-8ca5-473db25fdf33
        expiresAt:
          type: string
          format: date-time
          example: '2025-09-13T00:14:42.976306+00:00'
        metadata:
          type: object
          additionalProperties: true
    BulkEnrollResponse:
      type: object
      required:
      - successful
      - failed
      - total
      properties:
        successful:
          type: integer
          example: 95
        failed:
          type: integer
          example: 5
        total:
          type: integer
          example: 100
        errors:
          type: array
          items:
            type: object
            properties:
              learnerId:
                type: string
                format: uuid
              error:
                type: string
              message:
                type: string
    Error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          example: a84a76d2-4637-4f2e-92ab-fd3e088448cb
        message:
          type: string
          example: 79195506-1bd8-4f5b-a4c8-9a8cc8e6edca
        details:
          type: object
          additionalProperties: true
    ValidationError:
      type: object
      required:
      - error
      - message
      - validationErrors
      properties:
        error:
          type: string
          example: 4a7dd2da-5421-421a-a53c-6eb7fc1e0888
        message:
          type: string
          example: 2ee42092-7843-4d9c-9759-edf72b888e3a
        validationErrors:
          type: array
          items:
            type: object
            required:
            - field
            - message
            properties:
              field:
                type: string
                example: learnerId
              message:
                type: string
                example: 5e45d4f2-dc94-48f7-8eab-5603acc6ef89
tags:
- name: Bulk Operations
  description: Bulk Operations operations
- name: Enrollments
  description: Enrollments operations
- name: Progress
  description: Progress operations
